*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eff4fd;
}
.hero{
    position: relative;
    width:100%;
    height: 100vh;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    height: 100px;
    border-radius: 50%;
}
nav .logo:hover{
    height: 100px;
    border-radius: 5%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;    
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.detail a:hover{
    background-color: forestgreen;
}
.detail{
    margin-left: 8%;
    margin-top: 15%;
}
.detail h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    position: sticky;
    font-family:cursive;
    color: orange;
    background-color: transparent;
    z-index: 1;
}
p{
    position: sticky;
    z-index: 1;
    background-color: transparent;
}
.detail a{
    background-color: #212121;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px;
    border-radius: 5px;
}
.image{
    width: 615px;
    height: 800px;
    position: absolute;
    bottom: 0;
    top: 15%;
    right: 100px;
    background-color:transparent;
}
.image img{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}
.image:hover .Aman{
    left: 45%;
}
.cert{
    /* margin-top: 300px; */
    margin: 8%;
}
.cert h1{
    font-size: 50px;
}
.certificate{
    margin: 0px 15%;
    /* height: 600px; */
    width: 70%;
}
.certificate:hover{
    margin: 0px 13%;
    /* height: 650px; */
    width: 75%;
}
.skills{
    margin: 8%;
}
.skills h1{
    font-size: 50px;
}
.skills img{
    margin: 5px 10px;
    height: 100px;
}
.project{
    margin: 8%;
    align-content: space-between;
}
.project h1{
    font-size: 50px ;
}
.proimg{
    width: 40%;
    margin-left: 8%;
    border: 1px solid black;
}